---
const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>{title}</title>
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width" />
  <link rel="manifest" href="/manifest.webmanifest" />
  <meta name="description" content={description} />
  <meta name="theme-color" content="#fff" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Zero Share" />
  <meta property="og:description" content={description} />
  <meta property="og:image" content='https://zero-share.github.io/cover.png' />
</head>

<body>
	<slot />
</body>

</html>