---
import { githubLink } from '../../configs';
import Github from '../icons/Github.astro';
---

<footer class="footer footer-center pt-10 p-5 text-base-content gap-4">
  <div class="grid grid-flow-col gap-4">
    <a
      aria-label="Github"
      target="_blank"
      href={githubLink}
      rel="noopener"
      class="drawer-button normal-case"
    >
      <Github />
    </a>
  </div>
  <div class="text-xs md:text-sm">
    <p>
      This project is an open-source
      <a
        class="link"
        href={githubLink + '/blob/main/LICENSE'}
        target="_blank"
        rel="noopener noreferrer">License</a
      >.
    </p>
    <p>
      Copyright &copy; 2023
      <a class="link" href="https://ntsd.dev" target="_blank" rel="noopener noreferrer">
        Jirawat Boonkumnerd
      </a>
    </p>
  </div>
</footer>
